body{
    background-color: rgb(209, 209, 209);
}

#outter{
    width: 300px;
    height: 250px;
    margin: auto;
}

#object{
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 20px;
    margin: auto;
    background-color: green;

    opacity: 0;

    transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#object.appear{
    opacity: 1;

    transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#button{
    position: relative;
    top: 30px;
    padding: 5px 0;
    width: 60px;
    text-align: center;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(156, 156, 156);
    font-family: 'Supermercado One', cursive;
    transition: 0.3s;
}

#button:hover{
    background-color: rgb(134, 134, 134);
}

#red{
    position: relative;
    top: 60px;
    width: 20px;
    height: 20px;
    margin: auto;
    background-color: rgb(204, 7, 7);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

#red:hover{
    background-color: rgb(131, 6, 6);
}

#green{
    position: relative;
    width: 20px;
    height: 20px;
    left: 100px;
    top: 80px;
    background-color: green;
    border-radius: 50%;
    cursor: pointer;
     transition: 0.3s;
}

#green:hover{
    background-color: rgb(13, 88, 13);
}

#yellow{
    position: relative;
    width: 20px;
    height: 20px;
    top: 40px;
    left: 180px;
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
#yellow:hover{
    background-color: rgb(149, 149, 0);
}